* {
  margin: 0;
  padding: 0;
}

#welcome-div {
  background-color: rgb(59, 59, 59);
  color: pink;
  height: 130vh;
  display: flex;
  justify-content: center;
}

#welcome-everyone {
  font-size: 32px;
  animation-name: welcome;
  animation-duration: 10s;
  transform-origin: top;
}

@keyframes welcome {
  from {
    transform: scale(1, 1);
    opacity: 1;
    color: pink;
  }

  to {
    transform: scale(8, 8);
    opacity: 0;
    color: pink;
  }
}
